* {
    box-sizing: border-box;
}

body {
  background-color: #ff4da6;
}

div {
  font-family: 'Open Sans', sans-serif;
}

#vircounter {
  text-align: center;
  font-size: 5em;
  color: white;
}

.upbutton {
  display: block;
  margin: auto;
}
